version: "3.7"
services:
  php-parser:
    container_name: php-parser
    image: php-parser
    build:
      dockerfile: ./docker/php/parser/Dockerfile
      context: .
      target: dev
    volumes:
      - ./parser:/var/www/parser
    env_file: ./.env.parser
    tty: true
    environment:
      PHP_EXTENSION_XDEBUG: 1
      PHP_INI_XDEBUG__REMOTE_PORT: 9000
      PHP_IDE_CONFIG: "serverName=dockerParser"
      XDEBUG_CONFIG: "remote_port=9000 remote_autostart=1"